
@mixin text-ellips {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 1; /* Fallback for non-webkit */
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }