$white:#fff;
$black:#000000e6;
$primaryColor:rgb(255, 0, 85);
$secondColor: #06874A;
$text:#565454;
$border:#cccccc8d;
$background:#005F63;
$primaryGradiyent:linear-gradient(-90deg, #39D088, #06874A);

// Dark Theme Color Variable

$D-white:#E4E6EB;
$D-border:#444a52; 
$D-text:#E4E6EB; 
$D-primary:#44a5ff;
